**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/storybook-static
**/Dockerfile
**/next-env.d.ts
**/README.md
.git
.github
.husky
.vscode
.dockerignore
.editorconfig
.gitignore
.lintstagedrc.json
.nvmrc
